---
layout: archive
title: "Current Students"
permalink: /portfolio/
author_profile: true
---

<ul>
<li>Doni Obidov, Ph.D., (Fall 2023 - ).</li>
Email: dobidov@mtu.edu <br>  
Research Interests: Machine Learning and Cybersecurity


  
<li>Madhureeta Das, Ph.D. (co-advised with Dr. Lan Zhang), (Spring 2024 -).</li>
Email: mdas1@mtu.edu <br>
Research Interests: Machine Learning and Cybersecurity

</ul>

<!--
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

-->

<h1> Past Members </h1>

<ul>
<img src="../images/fancheng_portrait.jpg" hspace="50" vspace="10" align="left" height="90" width="120" />Cheng Fan (Fall 2022 - Fall 2023)
<br>
Ph.D, Spring 2024.
<br>
Research Interests: Underwater acoustic communication, Reinforcement learning
</ul>



