---
layout: archive
title: "Instructor"
permalink: /teaching/
author_profile: true
---

<ul>
<li>EE4800\&5900 - AI Engineeing Applications, (MTU Spring 2023, 2024).</li>



  
<li>EE4173 - Computer System Engineering and Performance, (MTU Fall 2022, 2023, 2024-).</li>


</ul>

<!--
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

-->

<h1> Teaching Assistant </h1>

<ul>
<li>EEL4745C - Microprocessor Applications,（UF Spring 2021.</li>
</ul>
